---
import Layout from '../layouts/Layout.astro';
import claptrap from '../images/claptrap.jpg';
import github from '../images/github.svg';
import Link from '../components/link.astro';
import twitter from '../images/twitter.svg';
import linkedin from '../images/linkedin.svg';
import portfolio from '../images/palette-solid.svg';
import amazon from '../images/amazon.svg';
---

<Layout title='Yuri'>
  <main class='flex flex-col items-center py-10'>
    <div
      class='w-52 h-52 rounded-full border-2 border-white overflow-hidden relative'
    >
      <img src={claptrap} class='absolute object-fill top-[-50px] h-72' />
    </div>
    <h1 class='text-4xl font-light py-6 text-white'>Welcome stranger</h1>
    <section>
      <ul class='flex flex-col gap-5'>
        <Link
          href={'https://portfolio-yuri-samp.vercel.app'}
          path={portfolio}
          title={'Portfolio'}
        />
        <Link
          href={'https://github.com/YuriSamp'}
          path={github}
          title={'Github'}
        />
        <Link
          href={'https://www.linkedin.com/in/yurisamp/'}
          path={linkedin}
          title={'Linkedin'}
        />
        <Link
          href={'https://twitter.com/Yuri_Sampa'}
          path={twitter}
          title={'Twitter'}
        />
        <Link
          href={'https://www.amazon.com.br/hz/wishlist/ls/5EJZIZ7KWT4W?ref_=wl_share'}
          path={amazon}
          title={'Wishlist'}
        />
      </ul>
    </section>
  </main>
</Layout>
